body {
  text-align: center;
}

#head {
  width: 100%;
  display: inline-block;
}
#main {
  display: flex;
  justify-content: space-between;
}
#main-field {
  margin: 0 auto;
  background: grey;
  box-sizing: border-box;
  width: 600px;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(10, 50px);
  }
#test-field {
  margin: 0 auto;
  background: grey;
  box-sizing: border-box;
  width: 600px;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(10, 50px);
  }


#main-field div {
  border: 3px inset darkgrey;
  width: 50px;
  box-sizing: border-box;
  height: 50px;
}
#test-field div {
  border: 3px inset darkgrey;
  width: 50px;
  box-sizing: border-box;
  height: 50px;
}
