body {
  text-align: center;
}

#head {
  width: 100%;
  display: inline-block;
}
#main-field {
  margin: 0 auto;
  background: grey;
  width: 500px;
    display: grid;
  grid-template-columns: repeat(10, 50px);
  }

#main-field div {
  border: 2px inset darkgrey;
  width: 48px;
  height: 48px;
}